* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	margin: 0 auto;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container{
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
}

.section-container {
	padding: 50px 0;	
}

.header h1{
	padding-top: 5%;
	font-weight: bolder;
	text-align: center;
	font-size: 40px;
}

.header p{
	font-size: 20px;
	text-align: center;
	padding: 0 50px;
	line-height: 30px;
}

	/*LOGO*/

.edfer {
	
}

.edfer a{
	text-decoration: none;
	color: white;
	float: left;
	margin: 0 auto;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 7px;

}

	/*NAVBAR*/

.navbar {
	z-index: 1;
	position: fixed;
	background-color: #F7F7F7;
	top:0;
	width: 100%;
}

.navbar .navbar-list {
	list-style-type: none;
	float:right;
	margin:0px;
	font-size: 0;
}

.navbar .navbar-list .navbar-item {
	display:inline-block;
	font-size: 14px;	
}

.navbar .navbar-list .navbar-item.active {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.navbar .navbar-list .navbar-item a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.92);
	transition: all 0.1s linear;
		
	
}

.navbar .navbar-list .navbar-item a:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

	/*PORTADA*/

.title {
	margin: 0 auto;
	position: absolute;
	top:40%;
	width: 100%;
	text-align: center;
	font-size: 3em;
	color: rgba(230, 230, 230, 0.9);
}



.title-img {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
			/*animación*/
	animation-name: ballerina-dance;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: ballerina-dance;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

@keyframes ballerina-dance {
	0% {background-image: url(../images/ballerina.jpg)}
	50% {background-image: url(../images/ballerina2.jpg)}
	100%{background-image: url(../images/ballerina3.jpg)}
}

@-webkit-keyframes ballerina-dance {
	0% {background-image: url(../images/ballerina.jpg)}
	50% {background-image: url(../images/ballerina2.jpg)}
	100%{background-image: url(../images/ballerina3.jpg)}
}

	/*QUIENSOY*/

#me {
	height: 550px;
	display: block;
	
}

.me-img img{
	height:400px;
	border-radius: 50%;
}

.me-img figcaption {
	text-align: center;
}


	/*ESTUDIOS*/

#studies {
	background-color: black;
}

#studies .header h1{
	color:white;
}

.wide-black {
	width:100%;
	background-color: black;
}

.row-flex {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

.studies-img img{	
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.flip {
	position: relative;
	height: 185px;
}

.front, .back {
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform 1s;
}

.back {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.flip:hover .front {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.flip:hover .back {
	transform: rotateY(0);
	-webkit-transform: rotateY(0);
}

.studies-item {
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
	-webkit-flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

#studies figcaption {
	margin-top: 10px;
	color:white;
	text-align: center;
	object-position: bottom; 
}

	/*EXPERIENCIA*/

#work {
	height: 550px;

}

.header-work h1{
	
	font-weight: bolder;
	text-align: center;
	font-size: 40px;
}

.header-work p{
	font-size: 20px;
	text-align: center;
	padding: 0 50px;
	line-height: 30px;
}

.video iframe{
	position: absolute;
	margin-top: 90px;
	
	width:480px;
	height: 270px;
}

	/*SOBRE MI*/

#about-me{
	color:white;
	
}
.wide-dog {
	height: 700px;
	background-size: cover;
	background-position:center center;
	background-clip: padding-box;
	background-image: url(../images/dog-bite.jpg);
	background-blend-mode: screen;
	transition: background-image 1s ease-in-out;
	transition-delay: 1s;
}

.wide-dog:hover {
	background-image: url(../images/dog-bite-angry.jpg)
}

#about-me p{
	font-size: 20px;
	text-align: right;
	line-height: 30px;

}

.p-about-me {
	padding-top: 15%;
	padding-right: 150px;
}


.top-5 {
	position: relative;
	padding-top: 50px;
	padding-left: 50px;
}

.top-5-list {
	text-align: left;
	list-style-type: none;
	font-size: 0;

}

.top-5-item {
	font-size: 60px;
}

.top-5-item a{
	color:white;
	text-decoration: none;
}

	/*CONTACTO*/

#contact {
	height: 600px;
}

#need-a-video-style {
	text-align: center;
	width: 100%;
	font-size: 30px;
}

.form {
	text-align: center;
}

.form .form-row {
	padding: 20px 0;
}
/*#require-service {
	display: none;
}*/

#form-contact {
	display: none;
}




















